@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Humane';
  src: url('../fonts/Web-PS/Humane-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Humane';
  src: url('../fonts/Web-PS/Humane-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MangoGrotesque';
  src: url('../fonts/Web-PS/MangoGrotesque-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MangoGrotesque';
  src: url('../fonts/Web-PS/MangoGrotesque-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne.ttf') format('truetype');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Postertoaster';
  src: url('../fonts/Postertoaster.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dirtyline';
  src: url('../fonts/Dirtyline 36daysoftype 2022.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
